h1{
    color: black;
    font-size: 60px;
    font-family: 'Anonymous Pro', sans-serif;
}
h2{
    color: black;
    font-family: 'Anonymous Pro', sans-serif;
    margin-left: 5px;
}
ul{
    list-style-type: none;
    margin-left: 0;
}
header{
    background-color: #162654;
    height: 19vh;
    margin: 0;
    padding: 0;
}
footer {
    background-color: #b3b4b6;
    height: 22vh;
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff ;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-family: 'Anonymous Pro', sans-serif;
}

a{
    text-decoration: none;
}


nav {
    background-color: #162654;
    color: #ffffff;
}
button{
    background-color: rgb(51, 119, 178);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Anonymous Pro', sans-serif;
}

section{
    background: none;
    width: 100%;
    padding-bottom:5px;     
}

#topbar{
    overflow: hidden;
}

#postCon1Img,#postCon2Img,#postCon3Img {
    height: 150px;
    width: 280px;
    margin-left: 18px;
}

#mainImg {
    height: 281px;
    width: 500px;
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 20px;
    
}

#paris{
    /* font-weight: bold; */
    color: #ffffff;
    font-family: 'Norwester', sans-serif;
}

#logo {
    width: 100px;
    height: 100px;
    transform: scale(1.5); 
    margin-top: 15px;
    margin-left: 30px;
}

#videos {
    margin-left: auto;
    width: 280;
    height: 157.50;
}

#comments-list{
    background:rgb(236, 233, 233);
    width: auto;
    margin-bottom:5px;
}

#mainCon,#mainConX{
    width: auto; height: 350px;
    background-color: #ffffff; color:black;
    font-size: 32px; margin-left: auto;
    margin-right: auto; /*display:block; */
    border-style:solid; border-width: 2px;
    border-color: #162654; border-radius: 5px;
    margin-top: 2px; display: flex;
    align-items: right; justify-content: left;
}

#mainConX p{
    font-size: 12pt;
}

#postCon2,#newPost,#updatePost{
    width: 32.9%; height: 450px;
    background-color: #ffffff; color:black;
    font-size: 32px; margin-left: auto;
    margin-right: auto; display:inline-grid;
    border-style:solid; border-width: 2px;
    border-color: #162654; border-radius: 5px;
    margin-top: 2px;column-gap: 2px;
}
#end{
    margin-right: 5%;
    margin-left: 5%;    
}

#comment-form,#like-button{
    display: inline-block;
    margin-top: 2px;
}

.stick {
    position: fixed;
    top: 0;
    width: 100%;
}

.stick + .feed {
    padding-top: 124px;
}

.postSubhead{
    margin-left: 3px;
    font-size: 18px;
}

.feed,.stories{
    margin-right: 5%;
    margin-left: 5%;
}

.delete-button{
    display: inline-block;
}

.likes-comments{
    margin-left: 5%;
}

.postHeadline {
    margin-left: 3px;
    font-weight: bold;
}

.homeHeadings{
    margin-left: auto;
    font-weight: bold;
    font-size: x-large;
}

/* Add a background color to the top navigation */
.topnav {
    padding-top: 35px;
    padding-left: 20px;
    background-color: #162654;
    overflow: hidden; 
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #cecfd0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Norwester',sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: rgb(240, 178, 9);
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: #04AA6D; */
  color: #cecfd0;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  color: #cecfd0;
  font-size: 22px;
}
.tab {
    overflow: hidden;

}

.postForm{
    margin: 3px;
}

